h1 {
  font-family: cursive;
  padding: 0px 15px 0px 15px;
}

.title {
  color: teal;
  border: rgb(217, 40, 143) dashed 2px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
}

input {
  padding: 12px;
  border-radius: 20px;
  text-align: center;
}

.removebutton {
  cursor: pointer;
  background-color:rgb(239, 96, 165);
  color: black;
  border: 0px;
  padding:5px;
}

.removebutton:hover {
  padding: 7px;
  background-color: rgb(203, 40, 160);
  color:white;
}

.tasks {
  margin-top: 20px;
  padding:10px;
  cursor: pointer;
  background-color: rgb(146, 196, 196);
  color: black;
  border: 0px;
  /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
}

.tasks:hover {
  background-color: teal;
  color: white;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
